@import '../../../styles/colors';

$size: 15rem;
$space-between: 1rem;

.slots {
    $border-value: 1px solid black;

    display: flex;
    width: $size + 2 * $space-between;
    height: $size;

    flex: {
        shrink: 0;
        direction: column;
    }

    >.row {
        display: flex;

        >.cell {
            $size: 5rem;

            position: relative;

            display: inline-block;
            height: $size;
            border: {
                right: $border-value;
                left: $border-value;
            }

            flex: {
                grow: 1;
                basis: 0;
            }

            font-size: 2rem;
            text-align: center;
            line-height: $size;

            &:not(:last-child) {
                margin-right: $space-between;
            }

            &.checked:before {
                $size: 3rem;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);

                display: block;
                width: $size;
                height: $size;
                border: 1px solid red;
                border-radius: $size;

                content: '';
            }
        }

        &:not(:last-child) {
            >.cell {
                border-bottom: $border-value;
            }
        }

        &:not(:first-child) {
            >.cell {
                box-shadow: inset 0 1px $color-white;
            }
        }
    }
}