@import '../../styles/colors';
@import '../../styles/mixins';

.slot-game-page {
    @include page-default();

    width: 30rem;
    height: 30rem;
    padding: 1rem;
    margin: 2rem auto 0;
    box-shadow: 0 .5rem .7rem $color-grey;

    flex-grow: 0;

    background-color: #ccc;
    overflow: hidden;

    >.first-row {
        display: flex;

        >.info-panel {
            margin-left: 1rem;

            flex-grow: 1;
        }
    }

    >.control-panel {
        margin-top: 1rem;
    }

    &.loading {
        display: flex;

        justify-content: center;
        align-items: center;

        font-size: 2rem;
        text-shadow: 0 1px #fff;
    }
}