@import '../../styles/colors';
@import '../../styles/mixins';

.app {
    display: flex;
    height: 100%;

    flex-direction: column;

    >nav {
        $height: 3rem;

        display: flex;
        height: $height;
        border-bottom: 1px solid $color-black;
        box-shadow: 0 2px 2px $color-light-grey;

        flex-shrink: 0;
        justify-content: center;

        line-height: $height;

        background-color: $color-light-grey;

        >a {
            padding: 0 1rem;

            color: $color-black;
            font-weight: 600;
            text: {
                decoration: none;
                transform: uppercase;
                shadow: 0 1px $color-white;
            }

            &:visited {
                color: $color-black;
            }

            &:hover,
            &.active {
                color: $color-grey;
            }
        }
    }

    >.page {
        display: flex;

        flex-grow: 1;
    }
}