$color-white        : #fff;
$color-black        : #000;
$color-orange       : #f0ad4e;
$color-grey         : #777;
$color-light-grey   : #ccc;
$color-red          : #f00;
$color-green        : #0f0;
$color-blue         : #00f;