.crement {
    display: inline-block;

    >button {
        font-size: 1.2rem;
    }

    >.value {
        display: inline-block;
        width: 3rem;

        font-size: 1.2rem;
        text-align: center;
    }
}