@import '../../../styles/colors';

.info-panel {
    margin-left: 1rem;

    .line {
        display: flex;
        margin-bottom: 1rem;

        align-items: baseline;

        >label {
            width: 5rem;

            font-style: italic;
        }

        >span {
            flex-grow: 1;

            font-size: 1.2rem;
        }

        &.balance {
            >span.empty {
                color: $color-red;
            }
        }

        &.loading {
            color: $color-blue;
        }

        &.victory {
            color: $color-red;
            text-transform: uppercase;
        }
    }
}