@import '../../../styles/colors';

.info-panel {
    margin-left: 1rem;

    .line {
        display: flex;
        margin-bottom: 1rem;

        >label {
            width: 5rem;

            font-style: italic;
        }

        >span {
            flex-grow: 1;
        }

        &.balance {
            >span.empty {
                color: $color-red;
            }
        }

        &.loading {
            color: $color-blue;
        }

        &.victory {
            color: $color-red;
        }
    }
}